body{
    background: url(img/background_login.jpg);
    font-family: sans-serif;
}

.caja-login{
    width: 320px;
    height: 420px;
    background-color: black;
    color:white;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.caja-login h1{
    text-align: center;
    padding-top: 30px;
}

.caja-login label{
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top:10px;
}

.caja-login input[type="text"],
.caja-login input[type="password"]{
    background: transparent;    
    border:none;
    border-bottom: 5px solid white;
    height: 40px;
    width: 100%;
    margin-top: 10px;
    color: white;
    font-size: 16px;
}

.caja-login input[type="submit"]{
    height: 40px;
    color:white;
    background: grey;
    font-size: 18px;
    display: block;
    border-radius: 20px;
    width: 100%;
    margin-top: 30px;
}

.caja-login a{
    font-size: 12px;
    color:darkgray;
     
}

.caja-login{
    border-radius: 50px;
    border-bottom-left-radius: 0;
    box-shadow: 1px -1px 116px 0px rgba(0,0,0,0.75);
}