body{
    font-family: serif;
    background: rgb(202, 208, 214);
}

h1{
    text-align: center;
    color:navy
}

.primera_fila{
    background-color:rgb(21, 21, 237);
    color:white;
    height: 20px;
    margin: 1%;
    font-weight: bold;
}

.content{
    background-color: rgb(164, 189, 204);
    color: black;
    height: 20px;
}

.content:hover{
    /* height: 30px; */
    color:brown;
    font-weight: bold;
}

#miTabla{
    width: 80%;
    left: 10%;
    position: absolute;
    margin-top: 10px;
    box-shadow: 2px 2px 134px -16px rgba(69,88,194,0.75);
}

.boton_add{
  text-align: center;
  height: 20px;
  margin: 1%;
  font-weight: bold;
}

td{
    border-radius: 10%;
}

.edit_button{
    background-color: transparent;
    color: rgb(241, 16, 16);
}