<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
    {% for reg in cliente  %}
        <form action="/edit_cliente" method="post"> 
                <label>ID CLIENTE</label>        
                <input type="number" name="idcliente" value="{{reg['idcliente']}}" readonly />
                <label>NIT</label>      
                <input type="text" name="nitcliente" value="{{reg['nitcliente']}}" />
                <br/>
                <label>NOMBRES </label>
                <input type="text" name="nombres" value="{{reg['nombres']}}" />
                <br/>
                <label>APELLIDOS </label>
                <input type="text" name="apellidos" value="{{reg['apellidos']}}"/>
                <br/>
                <label>TELEFONO</label>
                <input type="text" name="telefono" value="{{reg['telefono']}}"  />
                <br/>
                <label>EMAIL</label>
                <input type="text" name="email" value="{{reg['email']}}"  />
                <br/>
                <label>FECHA REGISTRO</label>
                <input type="date" name="fecharegistro" value="{{reg['fecharegistro']}}"  />
                <br/>
                <label>SEXO</label>
                <input type="text" name="sexo" value="{{reg['sexo']}}"  />
                <br/>
                <label>ACTIVO</label>
                <input type="text" name="activo" value="{{reg['activo']}}"  />
                <br/>
            <input type="submit" value="Edit_Update Reg"/>
        </form>
    {% endfor %}   
</body>
</html>