<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='mostrar_clientes.css')}}">
    <title>| Mostrar clientes |</title>
</head>
<!-- 
    ESTO ES INFORMATIVO DESPUES DE QUITA 
    #CREATE TABLE public.clientes (
    #    idcliente integer NOT NULL,
    #    idnitcli character(20) NOT NULL,
    #    nombres character varying(40),
    #    apellidos character varying(40),
    #    telefono character varying(30),
    #    email character varying(70),
    #    fecharegistro date,
    #    sexo character(1),
    #    activo character(1)
    #); -->
<body>
    <h1>Listado de clientes</h1>
    <div class="boton_add">
        <form method="get" action="/form_add_cliente">
            <button>Agregar cliente Nuevo</button>
        </form> 
    </div>
    <div class="divTabla">
        <table id="miTabla">
            <tr class="primera_fila">
                <td>IDCLI</td> <td>NITCLIENTE</td>
                <td>NOMBRES</td><td>APELLIDOS</td><td>TELEFONO</td>
                <td>EMAIL</td><td>FEC.REGISTRO</td> <td>SEXO</td> 
                <td>ACTIVO</td><td>EDIT---</td><td>DEL---</td>
            </tr>
            {% for registro in clientes  %}
                <tr class="content">
                    <td>{{registro["idcliente"]}}</td>
                    <td>{{registro["nitcliente"]}}</td>
                    <td>{{registro["nombres"]}}</td>
                    <td>{{registro["apellidos"]}}</td>
                    <td>{{registro["telefono"]}}</td>
                    <td>{{registro["email"]}}</td>
                    <td>{{registro["fecharegistro"]}}</td>
                    <td>{{registro["sexo"]}}</td>
                    <td>{{registro["activo"]}}</td>
                    <form  method="POST" action="/show_edit_cliente_form">
                        <td>
                            <button class="edit_button" name="id_cli_edit" value="{{registro['idcliente']}}">Editar</button>
                        </td>
                    </form>
                    <form  method="POST" action="/delete_cliente">
                        <td>
                            <button class="edit_button" name="id_cli_del" value="{{registro['idcliente']}}">Eliminar</button>
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
