*{
	padding: 0;
	margin: 0;
}
body{;
background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-sizing: border-box;
font-family: sans-serif;
height: 650px;
display: flex;
justify-content: center;
align-items: center;
}

h1{
	text-align: center;
	font-weight: 500px;
	font-size: 30px;
}

form{
	background: #fff;
	padding: 20px 0;
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
	width: 100%;
	margin: auto;
}

form .grupo{
	position: relative;
	margin: 35px;

}

input{
	background: none;
	color: #c6c6c6;
	font-size: 14px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid grey;
}

input:focus{
	outline: none;
	color: #5e5d5d;
}

label{
	color: grey;
	font-size: 14px;
	position: absolute;
	left: 5px;
	top: 10px;
	transition: 0.5s ease-in-out;
	pointer-events: none;
}

input:focus~label,
input:valid~label{
	top: -14px;
	font-size: 10px;
	color: purple;
}

.barra{
	position: relative;
	display: block;
	width: 100%;
}

.barra::before{
	content: "";
	height: 2px;
	width: 0%;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	transition: 0.3s ease width;
	left: 0;


}

input:focus~.barra::before{
width: 108%;
}

button{
	font-family: sans-serif;
	background: #c31432;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: none;
	display: block;
	width: 80%;
	margin: 10px auto;
	color: white;
	height: 40px;
	font-size: 14px;
	cursor: pointer;
}
a{
	text-decoration: none;
	color: #fff;

}
div .sexo{
	position: relative;
	top: -10px;
	margin: 30px;
}

div .sexo h2{
	font-size: 14px;

}

div .sexo input[type="radio"]{
	position: relative;
	top: 17px;

}

div .sexo label{
	color: grey;
	font-size: 14px;
	position: relative;
	left: 5px;
	top: 1px;
	transition: none
	pointer-events: none
}



@media screen and(max-width: 500px){
	form{
		width: 80%;
	}
}